header{
    z-index:1000;
  }
  
/*=============================================
PERFIL
=============================================*/
#perfil figure#imgPerfil img{

	width:80%;
	margin:10px 0;

}

#perfil #subirImagen{
	display:none;
	margin:20px 0px;
	border:2px dotted #ccc;
	overflow: hidden;
	padding:40px;
	cursor:pointer;
}

#perfil #subirImagen img{
	width:100%;
	padding:10px;
}

#perfil #subirImagen #datosImagen{
	height:65px;
}

@media (min-width:1200px){

.menuDesplegable{display:none;}
	
}
/*------------------------------------------------
   ESCRITORIO MEDIANO O TABLET HORIZONTAL  (MD revisamos en 1024px)
------------------------------------------------*/
@media (max-width:1199px) and (min-width:992px){

   .menuDesplegable{display:none;}

}
/*------------------------------------------------
   ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos  en 768px)
------------------------------------------------*/
@media (max-width:991px) and (min-width:768px){

    .menuDesplegable{display:none;}

}
/*------------------------------------------------
  MOVIL (XS revisamos en 320px)
------------------------------------------------*/
@media (max-width:767px){

    
}