/*------------------------------------------------
   GLOBAL
------------------------------------------------*/


*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
	font-family: 'Ubuntu',sans-serif  ; /**/
}

ul,ol{
	padding:0;
}

ul li a{
	text-decoration:none;
}

a:visited, a:link, a:focus, a:hover, a:active{
	list-style:none;
	text-decoration:none;
}

h6 a{
	text-decoration:none; 
}

.barraSuperior{
	background:black;
}

.barraSuperior a{
	color:white;
}

.backColor, .backColor a{
	background:#C1CA2C;
	color:white;
}

.fondoBreadcrumb{
	margin-bottom:0px;
	background:rgba(0,0,0,0);
}
/*------------------------------------------------
   REDES SOCIALES
------------------------------------------------*/

.redSocial{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;

}

/*FACEBOOK*/

.facebookBlanco{
	color:white;
}

.facebookNegro{
	color:black;
}

.facebookColor{
	color:white;
	background:#46639f;
}

/*YOUTUBE*/

.youtubeBlanco{
	color:white;
}

.youtubeNegro{
	color:black;
}

.youtubeColor{
	color:white;
	background:#d6513e;
}


/*TWITTER*/

.twitterBlanco{
	color:white;
}

.twitterNegro{
	color:black;
}

.twitterColor{
	color:white;
	background:#0ab2e6;
}

/*GOOGLE PLUS*/

.googleBlanco{
	color:white;
}

.googleNegro{
	color:black;
}

.googleColor{
	color:white;
	background:#d71617;
}

/*INSTAGRAM*/

.instagramBlanco{
	color:white;
}
.instagramNegro{
	color:black;
}
.instagramColor{
	color:white;
	background:linear-gradient(45deg, #fca925, #6350a2);
}

/*------------------------------------------------
  ERROR 404, VERIFICAR
------------------------------------------------*/
.error404 .verificar{
	color:#333;
}

/*------------------------------------------------
  SCROLL UP
------------------------------------------------*/

#scrollUp{
	bottom:20px;
	right:20px;
	width:50px;
	height:50px;
	background:url(http://localhost/Comanda/frontend/vistas/img/plantilla/flecha.jpg);
	/*background:url("../img/plantilla/flecha.jpg");*/ 
}



/*
Para generar un nuevo snippet nos vamos a Tools-Developer-New Snippet
Obervasión: Cuando usemos el snippet del breakpoint hay que seleccionarlo de atrás para adelante
*/
/*Estamos configurando las resloluciones para lg, md, sm y xm*/
/*------------------------------------------------
   ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
------------------------------------------------*/
@media (min-width:1200px){

/*Esta es una clase que estamos creando, la cual no existe en Bootstrap*/
  .col-lg-0{
  	display:none;
  }

  .error404 h1{
  	  font-size:300px;
  	  text-shadow:8px 8px 1px #dadada;
  }

  .verificar h3{
  	margin-top:30px;
  	  font-size:100px;
  	  text-shadow:4px 4px 1px #dadada;
  }
}
/*------------------------------------------------
   ESCRITORIO MEDIANO O TABLET HORIZONTAL  (MD revisamos en 1024px)
------------------------------------------------*/
@media (max-width:1199px) and (min-width:992px){
  
  .col-md-0{
  	display:none;
  }

  .error404 h1{
  	  font-size:200px;
  	  text-shadow:6px 6px 1px #dadada;
  }

  .verificar h3{
  	margin-top:30px;
  	  font-size:100px;
  	  text-shadow:4px 4px 1px #dadada;
  }

}
/*------------------------------------------------
   ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos  en 768px)
------------------------------------------------*/
@media (max-width:991px) and (min-width:768px){

.col-sm-0{
  	display:none;
  }

.error404 h1{
  	font-size:150px;
  	text-shadow:4px 4px 1px #dadada;
}

.verificar h3{
  	margin-top:30px;
  	  font-size:100px;
  	  text-shadow:4px 4px 1px #dadada;
  }

}
/*------------------------------------------------
  MOVIL (XS revisamos en 320px)
------------------------------------------------*/
@media (max-width:767px){
	
  .col-xs-0{
  	display:none;
  }

  .error404 h1{
  	font-size:75px;
  	text-shadow:2px 2px 1px #dadada;
  }

  .verificar h3{
  	margin-top:30px;
  	  font-size:50px;
  	  text-shadow:2px 2px 1px #dadada;
  }
}