/*------------------------------------------------
   GLOBAL
------------------------------------------------*/


*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
	/*font-family: 'Ubuntu',sans-serif  ; /**/
  
}

body{
  font-family: 'Mukta Vaani', sans-serif;
}


header{
    z-index:1000;
  }

ul,ol{
	padding:0;
}

ul li a{
	text-decoration:none;
}

a:visited, a:link, a:focus, a:hover, a:active{
	list-style:none;
	text-decoration:none;
}

h6 a{
	text-decoration:none; 
}

.barraSuperior{
	background:black;
}

.barraSuperior a{
	color:white;
}

.backColor, .backColor a{
	background:#C1CA2C;
	color:white;
}

.fondoBreadcrumb{
	margin-bottom:0px;
	background:rgba(0,0,0,0);
}
/*------------------------------------------------
   REDES SOCIALES
------------------------------------------------*/

.redSocial{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;

}

/*FACEBOOK*/

.facebookBlanco{
	color:white;
}

.facebookNegro{
	color:black;
}

.facebookColor{
	color:white;
	background:#46639f;
}

/*YOUTUBE*/

.youtubeBlanco{
	color:white;
}

.youtubeNegro{
	color:black;
}

.youtubeColor{
	color:white;
	background:#d6513e;
}


/*TWITTER*/

.twitterBlanco{
	color:white;
}

.twitterNegro{
	color:black;
}

.twitterColor{
	color:white;
	background:#0ab2e6;
}

/*GOOGLE PLUS*/

.googleBlanco{
	color:white;
}

.googleNegro{
	color:black;
}

.googleColor{
	color:white;
	background:#d71617;
}

/*INSTAGRAM*/

.instagramBlanco{
	color:white;
}
.instagramNegro{
	color:black;
}
.instagramColor{
	color:white;
	background:linear-gradient(45deg, #fca925, #6350a2);
}

/*------------------------------------------------
  ERROR 404, VERIFICAR
------------------------------------------------*/
.error404 .verificar{
	color:#333;
}

/*------------------------------------------------
  SCROLL UP
------------------------------------------------*/

#scrollUp{
	bottom:20px;
	right:20px;
	width:50px;
	height:50px;
	background:url(http://localhost/Comanda/frontend/vistas/img/plantilla/flecha.jpg);
	/*background:url("../img/plantilla/flecha.jpg");*/ 
}



/*
Para generar un nuevo snippet nos vamos a Tools-Developer-New Snippet
Obervasión: Cuando usemos el snippet del breakpoint hay que seleccionarlo de atrás para adelante
*/
/*Estamos configurando las resloluciones para lg, md, sm y xm*/
/*------------------------------------------------
   ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
------------------------------------------------*/
@media (min-width:1200px){

/*Esta es una clase que estamos creando, la cual no existe en Bootstrap*/
  .col-lg-0{
  	display:none;
  }

  .error404 h1{
  	  font-size:300px;
  	  text-shadow:8px 8px 1px #dadada;
  }

  .verificar h3{
  	margin-top:30px;
  	  font-size:100px;
  	  text-shadow:4px 4px 1px #dadada;
  }

   .btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
   }

   .productsH4{
    position:absolute;
  }

   .txtCantidad{
    
    margin-top:30px;
    margin-left:43px;
    z-index:100;
    
  }

  .anchoBotonCantidad{
    width:100px;
  }

  .tamañoBotonesMasyMenos{
    width:32px; 
    height:32px;
    padding:0px;
    font-weight:bold;
  }

  .posicionBotonMenos{
    position:absolute;
    margin-top:29px;
    margin-left:5px;
    z-index:100;
    margin-right:7px;
  }

  .posicionBotonMas{
    position:absolute;
    margin-top:29px;
    margin-left:145px;
    z-index:100;
  }

  .botonOrdenar{
    position:absolute;
    margin-top:0px;
    margin-left:185px;
    z-index:100;
  }
  
  .margenAbajo{
    margin-bottom:5px;
  }
  

}
/*------------------------------------------------
   ESCRITORIO MEDIANO O TABLET HORIZONTAL  (MD revisamos en 1024px)
------------------------------------------------*/
@media (max-width:1199px) and (min-width:992px){
  
  .col-md-0{
  	display:none;
  }

  .error404 h1{
  	  font-size:200px;
  	  text-shadow:6px 6px 1px #dadada;
  }

  .verificar h3{
  	margin-top:30px;
  	  font-size:100px;
  	  text-shadow:4px 4px 1px #dadada;
  }

}
/*------------------------------------------------
   ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos  en 768px)
------------------------------------------------*/
@media (max-width:991px) and (min-width:768px){

.col-sm-0{
  	display:none;
  }

.error404 h1{
  	font-size:150px;
  	text-shadow:4px 4px 1px #dadada;
}

.verificar h3{
  	margin-top:30px;
  	  font-size:100px;
  	  text-shadow:4px 4px 1px #dadada;
  }

  ul.acciones{
    float:left;
  }

}
/*------------------------------------------------
  MOVIL (XS revisamos en 320px)
------------------------------------------------*/
@media (max-width:767px){
	
  .col-xs-0{
  	display:none;
  }

  .error404 h1{
  	font-size:75px;
  	text-shadow:2px 2px 1px #dadada;
  }

  .verificar h3{
  	margin-top:30px;
  	font-size:50px;
  	text-shadow:2px 2px 1px #dadada;
  }

  .productsImg{
    width:100px;
    float:left;
    margin-bottom:30px;
  }

  .productsH4{
    position:absolute;
    margin-left:122px;
  }

  .productsH2Gratis{
    position:absolute;
    margin-top:72px;
    margin-left:55px;
  }

  .productsNuevo{
    position:absolute;
    margin-top:5px;
  }

  .productsDescuentoOferta{
    position:absolute;
    margin-top:5px;
    margin-left:55px;
  }

  .productsOferta{
    position:absolute;
    margin-top:80px;
    margin-left:30px;
  }

  .productsPrecio{
    position:absolute;
    margin-top:70px;
    margin-left:30px;
  }

  .productsEnlacesProductos{
    position:absolute;
    margin-top:74px;
    margin-left:68px;
  }

  .productsOfertaProductos{
    position:absolute;
    margin-top:75px;
    margin-left:30px;
  }

  .productsPrecioProductos{
    position:absolute;
    margin-top:75px;
    margin-left:30px;
  }

  .productsNumero{
    position:absolute;
    margin-top:95px;
    margin-left:7px;
  }

  .productsEnlaces{
    position:absolute;
    margin-top:50px;
    margin-left:110px;
    z-index:100;
  }

  

  .topBotones{
    position:absolute;
    margin-top:35px;
  }

  .margenBotonMas{
    position:absolute;
    margin-left:40px; 
  }

  h1{
    font-size:24px;
    font-weight:bold;
  }

  .posicionBotonMenos{
    position:absolute;
    margin-top:49px;
    margin-left:0px;
    z-index:100;
    margin-right:7px;
  }

  .txtCantidad{
    position:absolute;
    margin-top:50px;
    margin-left:38px;
    z-index:100;
    margin-right:0px
  }

  .posicionBotonMas{
    position:absolute;
    margin-top:49px;
    margin-left:83px;
    z-index:100;
  }

  .botonOrdenar{
    position:absolute;
    margin-top:65px;
    margin-left:105px;
    z-index:100;
  }

  .tamañoBotonesMasyMenos{
    width:32px; 
    height:32px;
    padding:0px;
    font-weight:bold;
  }

  .anchoBotonCantidad{
    width:43px;
  }

  .tamañoDiv{
    width:160px;
  }

  .btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

}